node_modules
.env.example
.travis.yml
.coveralls.yml
.huskyrc
README.md
.gitignore
package-lock.json
yarn.lock
dump.rdb
.env.test
yarn-error.log
.idea/
.vscode/
build/
tmp/
temp/
logs
.DS_Store
.nyc_output
trash/
public/
.yarn-integrity
coverage
*.lcov
lib-cov
