node_modules
.env
.env.test
yarn-error.log
.idea/
.vscode/
build/
tmp/
temp/
logs
.DS_Store
# public/
# Test output with coveralls
.nyc_output
trash/
public/
.yarn-integrity
coverage
*.lcov
lib-cov
dump.rdb
yarn.lock